@font-face {
    font-family:"fonts";
    src: url(./Fonts/clacon2.ttf);
    font-style: normal;

}
@font-face {
    font-family: "ostrich";
    src: url(./Fonts/ostrich-regular.ttf);
}

@font-face {
    font-family: "josephin";
    src: url(./Fonts/JosefinSans-Bold.ttf);
}
@font-face {
    font-family: "bebas";
    src: url("./Fonts/BebasNeue-Regular.ttf");
}
html{
    scroll-behavior: smooth;
}
canvas {
    grid-area: canvas;
    z-index: -1;
    position: absolute;
    top: 0%;
    right: 0%;
}

.App{
    display: grid;
    grid-template-columns: 1.8fr 8.5fr;
    grid-template-areas: 
    "navbar content";
}


@media (max-width : 706px) {
   
    .App {
        padding: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}