// Global CSS variables
@border : 1px solid lightgrey;
@borderRadius : 5px;
@buttonHeight : 40px;
@buttonHoverBorder : 1px solid aqua;

body {
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: black;

    ul {
        padding: 0% 10px;
        margin: 0%;
    }

    li {
        list-style: none;
        margin: 0%;
    }

    a {
        text-decoration: none;
    }

}


.content {

    grid-area: content;
    // overflow-y: scroll;
}

.navbar {

    position: relative;
    display: flex;
    align-items: center;
    // overflow-y: hidden;
    height: 100vh;
    padding-left: 25px;
    width: 100%;
    min-width: 150px;


    ul {
        position: fixed;
        height: 85%;
        padding: 0% 25px;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }

    li {

        padding: 15px 0%;
        font-family: fonts;
        font-size: larger;
    }

    li:hover {
        color: orange;
        cursor: pointer;
    }

    a {
        text-decoration: none;
        color: white;
    }

    a:hover {
        color: orange;
    }
}

.main_page {
    grid-area: welcome;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

    h1 {
        font-size: 60px;
    }

    span {
        font-family: ostrich;
        font-size: 40px;
    }

    p {
        width: 50%;
        font-size: large;
    }

    a {
        cursor: pointer;
        font-size: xx-large;
        font-family: fonts;
        color: orange;
    }

    a:hover {
        color: orange;

    }

    .aboutButtonArrow {
        animation: blink 0.8s step-start infinite;

    }

    @keyframes blink {
        50% {
            opacity: 0;
        }
    }

}


// ---------------MOBILE SCREEN

@media (max-width : 706px) {
    .navbar {
        display: none;
    }
}

@media (max-width : 550px) {
    .top_control_buttons {
        z-index: 5;
        justify-content: space-between;
        padding: 10px;
        height: 3rem;
        line-height: 3rem;
        vertical-align: middle;
        align-items: center;
        width: calc(100% - 20px);
        background-color: black;

        a {
            display: inline-block;
            width: 90px;
            height: 2.5rem;
            color: white;
            border: 1px solid white;
            line-height: 2.5rem;
            vertical-align: middle;
            text-align: center;
            border-radius: 3px;
            font-family: fonts;
        }

        .language_switcher {
            display: none;
        }

        .sound_button {
            display: none;
        }
    }

    .main_page {

        padding: 5px;
        justify-content: center;
        padding: 5px;
        text-align: center;

        .welcome {
            justify-content: flex-start;
            padding: 5px;
            text-align: left;


        }

        h1 {
            padding: 0 10px;
            text-align: left;
            font-size: 35px;
            margin-top: 50%;
        }

        span {
            font-size: 28px;
            grid-area: s;
            padding: 0 10px;
            text-align: left;
        }

        p {
            // align-self:left;
            text-align: left;
            font-size: 15px;
            padding: 0 10px;
            grid-area: p;
            word-wrap: normal;
            justify-self: flex-start;
            width: 100%;
        }

        a {
            color: orange;
            cursor: pointer;
            font-family: fonts;
            font-size: xx-large;
        }
    }



}