// Global CSS variables
@border : 1px solid lightgrey;
@borderRadius : 5px;
@buttonHeight : 40px;
@buttonHoverBorder : 1px solid aqua;
body {
    margin: 0%;
    padding: 0%;
    color: white;
    background-color: black;
   
    ul {
        padding: 0% 10px;
        margin: 0%;
    }
    li {
        list-style: none;
        margin: 0%;
    }

    a {
        text-decoration: none;
    }

}

.top_control_buttons {
    padding: 20px 50px;
    position: fixed;
    top: 0%;
    width: 200vh;
    left: 0%;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    height: 3rem;
    line-height: 3rem;
    vertical-align: middle;
    justify-content: space-between;

    .name_logo {
        border-radius: 3px;
        border: 2px solid white;
        height: @buttonHeight;
        width: 100px;
        text-align: center;
        line-height: 40px;
        vertical-align: middle;
        font-family: josephin;

    }

    img {
        padding: 5px;
        border-radius: @borderRadius;
        border: @border;
        width: 30px;
        height: 30px;
        margin-right: 20%;
    }

    button {
        height: 40px;
        width: 80px;
        font-size: medium;
        font-weight: 300;
        color: white;
        background-color: black;
        border: @border;
        border-radius: @borderRadius;
    }
    button:hover{
        border: @buttonHoverBorder;
        border-radius: @borderRadius;
    }
    .language_switcher {
        border-radius: @borderRadius;
        border: @border;
        width: 30px;
        text-align: center;
        height: 30px;
        padding: 5px;
        line-height: 30px;
        vertical-align: middle;
    }
    
}
.content{
    grid-area: content;
    // overflow-y: scroll;
}
.navbar {
   
    grid-area: navbar;
    display: flex;
    align-items: center;
    // overflow-y: hidden;
    height: 100vh;
    padding-left: 25px;
    ul{
         position: fixed;
        height: 85%;
        padding: 0% 25px;
        display: flex;
        justify-content:center;
        flex-direction: column;
    }
    li {
        
        padding: 15px 0%;
        font-family: fonts;
        font-size: larger;
    }
    li:hover {
        color : orange;
        cursor: pointer;
    }
    a{
        text-decoration: none;
        color: white;
    }
    a:hover{
        color:orange;
    }
}
.main_page {

    .welcome{
        grid-area: welcome;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        // padding-top: 5%;
        
        h1{
            font-size: 60px;
        }
        span {
            font-family: ostrich;
            font-size: 40px;
        }
        p {
            width: 50%;
            font-size: large;
        }
        a {
            cursor: pointer;
            font-size: xx-large;
            font-family: josephin;
            color: orange;
        }
        a:hover{
            color: orange;

        }
        
    }
}

.about_container{

    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: black;
    height: calc(100vh);
    color: white;
    .short_description{
        display: flex;
        flex-direction: column;
        width: 50%;

    }
    .full_description{
        text-align: left;
        img{
            vertical-align: middle;
            width: 30px;
            height: 30px;
            margin: 5px 15px 5px 0px;
            display: inline;
        }
        a{
            text-decoration: none;
            color: orange;
            line-height: 40px;
            vertical-align: middle;
        }
    }
    h1{
        
        font-size: 50px;
        font-family: bebas;
    }
    span{
        font-size: medium;
        color: white;
        height: 15px;

    }
}




.contacts_container{
    height: calc(100vh);
    width: 100%;
    display: flex;
    flex-direction: row;
    // grid-template-columns: 1fr 1.5fr;
    // grid-template-areas: "contacts map";
    justify-content: center;
    .contacts {
        display: flex;
        justify-content: center;
        flex-direction: column;
        height: 100vh;
        width: 100%;
        h1{
            font-size: 50px;
            font-family: bebas;
            padding: 0%;
        }
        h2 {
            font-size: 30px;
            font-family: bebas;
        }
        span {
            font-size: 15px;
        }
        img {
            width: 30px;
            height: 30px;
            vertical-align: bottom;
            display: inline-block;
            flex-direction: row;
        }
    
    }

    .map{
        // display: flex;
        // grid-area: map;
        // padding-top: 5rem;
        // flex-direction: row;
        // justify-content: end;
        // align-items: start;
        background-image: url("./Assets/map.png");
        background-size: contain;
        background-position: 0%;
        width: 100%;
        // background-image: radial-gradient(ellipse farthest-corner at 45px 45px, rgba(50, 50, 50, 0.8) 0%, rgba(80, 80, 80, 0.2) );
        height: calc(100vh - 5rem);
        img{
           
            height: 100vh;
            width: 100%;
            
        }
    }
}

